@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FF Meta Serif Pro";
  src: url("/fonts/FFMetaSerifPro-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FF Meta Serif Pro";
  src: url("/fonts/FFMetaSerifPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FF Meta Serif Pro";
  src: url("/fonts/FFMetaSerifPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cal Sans";
  src: url("/fonts/CalSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-cream-50 text-coffee-400 font-cal transition-colors duration-200
    dark:bg-dark-bg dark:text-dark-text;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-cal;
  }

  .magic-card {
    @apply bg-white dark:bg-dark-card transition-colors duration-200;
  }
}

body {
  @apply mx-auto max-w-4xl relative;
}
